* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.article__products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.article__products :hover {
  transition: 1s;
  box-shadow: 0 0 1rem 0 rgba(10, 10, 10, 0.655);
}

.article__text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.464);
  font-size: 28px;
  font-weight: 600;
  text-shadow: 0px 0px 10px #f6f6f6;
}
.article__text a {
  text-decoration: none;
  color: #252525;
}

@media screen and (min-width: 420px) {
  .article__products {
    font-weight: 400;
    margin-top: 20px;
  }
}
body {
  background: #FBE9D5;
}

.cover__conteiner {
  display: inline-block;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
  background: rgb(100, 210, 215);
  background: linear-gradient(0deg, rgb(100, 210, 215) 0%, rgb(113, 155, 173) 75%);
}
.cover:hover {
  transition: 1s;
  box-shadow: 0 0 1rem 0 rgba(10, 10, 10, 0.655);
}

.cover p {
  margin: 0 auto;
  color: rgb(22, 22, 22);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
}

@media screen and (min-width: 420px) {
  .cover__conteiner {
    margin-top: 4px;
  }
  .cover {
    height: 24vh;
    background-image: url("../assets/portada1.jpg");
    background-size: cover;
    background-position: center;
  }
  .cover:hover {
    box-shadow: 0 0 1rem 0 rgba(10, 10, 10, 0.655);
    transition: 1s;
  }
  .cover p {
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-shadow: black 0px 0px 5px;
    font-size: 30px;
    width: 75%;
    padding: 20px;
  }
}
@media screen and (min-width: 800px) {
  .cover {
    justify-content: center;
  }
}
.footer {
  background-color: #252525;
}
.footer__list {
  list-style: none;
  font-size: 1em;
  font-weight: 400;
}
.footer__list a {
  color: #FFF9F2;
  text-decoration: none;
}

.footer__avisoslegales {
  color: #FFF9F2;
}

.footer__textoLegales {
  font-size: 0.7em;
  font-weight: 100;
  color: #FFF9F2;
}

@media screen and (min-width: 420px) {
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer__list {
    width: 55%;
  }
}
header {
  width: 100%;
  padding-top: 16px;
  margin-bottom: 8px;
}

.logo {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: baseline;
}
.logo img {
  height: 32px;
  margin-right: 8px;
}

h1 a {
  text-decoration: none;
  color: #252525;
  font-size: 1em;
  font-weight: 600;
}
h1 a:hover {
  color: rgb(48, 48, 48);
  transition: 1s;
}

@media screen and (min-width: 420px) {
  .header {
    background: #FBE9D5;
  }
  .header:hover {
    transition: 1s;
    background: #FFF9F2;
    box-shadow: 0px 0px 5px rgb(114, 114, 114);
  }
  .logo img {
    height: 40px;
  }
  h1 a {
    font-size: 1.2em;
  }
}
.header__list {
  width: 100%;
  display: flex;
  display: inline-flex;
  flex: 0;
  justify-content: space-evenly;
}
.header__list li {
  padding-left: 4px;
  padding-right: 4px;
  list-style: none;
}
.header__list li:hover {
  transition: 1s;
  background-color: #FBE9D5;
  box-shadow: 0 0 1rem 0 rgba(10, 10, 10, 0.655);
  border-radius: 4px;
}

.header__navbuttons a {
  text-decoration: none;
  color: rgb(22, 22, 22);
  font-weight: 400;
  font-size: 16px;
}

.header__navbuttons__con {
  display: none;
}

@media screen and (min-width: 420px) {
  .header__nav {
    display: flex;
    justify-content: center;
  }
  .header__list {
    width: 80%;
    padding-left: 4px;
  }
  .header__navbuttons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    height: 32px;
    width: 16vw;
    min-width: fit-content;
    max-width: 160px;
    border-radius: 4px;
  }
  .header__navbuttons__con {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    height: 32px;
    width: 16vw;
    min-width: fit-content;
    max-width: 160px;
    border-radius: 4px;
  }
  .header__navbuttons__con a {
    text-decoration: none;
    color: #252525;
    font-weight: 400;
    font-size: 16px;
  }
}
@media screen and (min-width: 800px) {
  .header__list {
    width: 60%;
  }
}
.socialNetworks__conteiner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 32px;
  background-color: #719BAD;
  margin-top: 10px;
}
.socialNetworks__conteiner a {
  color: #FFF9F2;
  text-decoration: none;
}

.socialNetworks__conteiner li {
  list-style: none;
}

@media screen and (min-width: 420px) {
  .socialNetworks__conteiner {
    height: 40px;
    justify-content: center;
    gap: 2rem;
  }
  .socialNetworks__conteiner a {
    font-weight: 400;
    color: black;
  }
}
.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
}
.contacto__form {
  width: 80%;
  background-color: #FFF9F2;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
}
.contacto__form__label {
  display: block;
  padding: 10px 5px;
  text-align: center;
}

.contacto__form:hover {
  transition: 1s;
  box-shadow: 0 0 1rem 0 rgba(10, 10, 10, 0.655);
}

.contacto__form__area {
  display: flex;
  margin: 0 auto;
  width: 80%;
  background-color: #FBE9D5;
  border-style: solid;
  border-width: 2px;
  border-color: #252525;
  border-radius: 4px;
}

.botonEnviar {
  display: flex;
  margin: 0 auto;
  background-color: #719BAD;
  width: 8rem;
  height: 2rem;
  border-style: hidden;
  border-radius: 8px;
}

@media screen and (min-width: 420px) {
  .contacto__form {
    width: 80%;
    max-width: 500px;
  }
}
.conteiner__maps {
  height: 450px;
  margin: 20px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}
.conteiner__maps__ancho {
  width: 100%;
}

.article__remeras {
  display: flex;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  height: 200px;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  background-image: url(../assets/remerablanca1.jpg);
}
.article__remeras :hover {
  transition: 1s;
  background-color: whitesmoke;
}

.article__pantalones {
  display: flex;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  height: 200px;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  background-image: url(../assets/pantalonmarron1.jpeg);
}
.article__pantalones :hover {
  transition: 1s;
  background-color: whitesmoke;
}

.article__accesorios {
  display: flex;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  height: 200px;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  background-image: url(../assets/buzo1.jpg);
}
.article__accesorios :hover {
  transition: 1s;
  background-color: whitesmoke;
}

@media screen and (min-width: 420px) {
  .article__remeras {
    display: flex;
    border-radius: 16px;
    height: 48vh;
    min-height: 320px;
    max-height: 400px;
    width: 40vw;
    min-width: 200px;
    max-width: 320px;
    margin: 16px;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/remerablanca1.jpg);
  }
  .article__remeras:hover {
    transition: 1s;
    box-shadow: 0 0 1rem 0 rgba(10, 10, 10, 0.655);
  }
  .article__pantalones {
    display: flex;
    border-radius: 16px;
    height: 48vh;
    min-height: 320px;
    max-height: 400px;
    width: 40vw;
    min-width: 200px;
    max-width: 320px;
    margin: 16px;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/pantalonmarron1.jpeg);
  }
  .article__pantalones:hover {
    transition: 1s;
    box-shadow: 0 0 1rem 0 rgba(10, 10, 10, 0.655);
  }
  .article__accesorios {
    display: flex;
    border-radius: 16px;
    height: 48vh;
    min-height: 320px;
    max-height: 400px;
    width: 40vw;
    min-width: 200px;
    max-width: 320px;
    margin: 16px;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/buzo1.jpg);
  }
  .article__accesorios:hover {
    transition: 1s;
    box-shadow: 0 0 1rem 0 rgba(10, 10, 10, 0.655);
  }
}
.shirts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 16px;
}

.article__shirts {
  border-radius: 8px;
  height: 35vh;
  width: 40%;
  background-color: #FFF9F2;
  margin: 8px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  overflow: hidden;
}
.article__shirts:hover {
  transition: 1s;
  box-shadow: 0 0 1rem 0 rgba(10, 10, 10, 0.655);
}

.article__shirts img {
  object-fit: cover;
  object-position: center;
  height: 75%;
  width: 100%;
}

.article__shirts h3 {
  font-size: medium;
  text-decoration: none;
  color: #252525;
  font-weight: 600;
}

.article__shirts a {
  text-decoration: none;
  color: #252525;
}

.article__shirts p {
  font-size: small;
  text-decoration: none;
  color: #252525;
}

.conteiner__botonShowroom {
  display: flex;
  justify-content: center;
}

.botonShowroom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D4EFFA;
  height: 3em;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  margin: 16px;
  border-radius: 16px;
}
.botonShowroom a {
  text-decoration: none;
  color: #252525;
  font-size: 20px;
}

.botonShowroom:hover {
  transition: 1s;
  background-color: #719BAD;
  box-shadow: 2px 2px 5px 0px rgb(150, 150, 150);
}

@media screen and (min-width: 420px) {
  .article__shirts {
    height: 60vh;
    width: 40vw;
    align-items: center;
    justify-content: center;
    min-width: 220px;
    max-width: 320px;
    margin: 15px;
  }
  .article__shirts img {
    height: 80%;
    width: 100%;
  }
}
.texto__RemeraNegra {
  display: flex;
  align-content: center;
  width: fit-content;
  padding: 8px;
  margin: 16px;
  height: 32px;
  background-color: #FFF9F2;
  border-radius: 8px;
}
.texto__RemeraNegra h2 {
  font-weight: 100;
  font-size: large;
}

.conteiner {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 2fr 1fr 1fr;
  height: 70vh;
  gap: 10px;
  margin: 10px;
}

.slider-conteiner {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  grid-column: 1/3;
  grid-row: 1/3;
  border-radius: 7px;
  box-shadow: 0 0 1rem 0 rgba(10, 10, 10, 0.655);
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}
.slider-conteiner img {
  flex: 0 0 100%;
  scroll-snap-align: center;
  height: 100%;
  max-height: 60vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.conteiner__botones {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  width: fit-content;
  justify-content: center;
}

.conteiner__botonShowroom {
  display: flex;
  justify-content: center;
}

.botonShowroom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D4EFFA;
  height: 3em;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  margin: 16px;
  border-radius: 16px;
}
.botonShowroom a {
  text-decoration: none;
  color: #252525;
  font-size: 20px;
}

.botonShowroom:hover {
  transition: 1s;
  background-color: #719BAD;
  box-shadow: 2px 2px 5px 0px rgb(150, 150, 150);
}

.guiatalles {
  display: flex;
  flex-direction: column;
  background-color: #FFF9F2;
  box-shadow: 0 0 1rem 0 rgba(10, 10, 10, 0.655);
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 5px;
  border-radius: 7px;
}

.guiatalles__table {
  border-color: #252525;
  border-width: 2px;
  text-align: start;
  font-size: xx-small;
  font-weight: 100;
}

.guiatalles__table td, th {
  border-color: #252525;
  border-width: 1px;
}

.pulmon {
  grid-column: 2/3;
  grid-row: 1/4;
}

@media screen and (min-width: 420px) {
  .superconteiner {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .conteiner {
    display: grid;
    grid-template-columns: 60% 5% auto;
    grid-template-rows: 1fr 1fr 1fr;
    height: 80vh;
    gap: 10px;
    margin: 10px;
  }
  .slider-conteiner {
    grid-column: 1/3;
    grid-row: 1/4;
  }
  .guiatalles {
    grid-column: 3/4;
    grid-row: 1/3;
    font-size: 14px;
    font-weight: 600;
  }
}
.conteiner__botones {
  grid-column: 3/4;
}

@media screen and (min-width: 800px) {
  .conteiner {
    width: 65%;
  }
}
.texto__RemeraNegra {
  display: flex;
  align-content: center;
  width: fit-content;
  padding: 8px;
  margin: 16px;
  height: 32px;
  background-color: #FFF9F2;
  border-radius: 8px;
}
.texto__RemeraNegra h2 {
  font-weight: 100;
  font-size: large;
}

.conteiner {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 2fr 1fr 1fr;
  height: 60vh;
  gap: 10px;
  margin: 10px;
}

.carouselboot__conteiner {
  grid-column: 1/3;
  grid-row: 1/3;
  border-radius: 7px;
  box-shadow: 2px 2px 5px 0px rgb(150, 150, 150);
  display: flex;
  overflow: hidden;
}
.carouselboot__conteiner img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.conteiner__botones {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  width: fit-content;
  justify-content: center;
}

.conteiner__botonShowroom {
  display: flex;
  justify-content: center;
}

.botonShowroom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D4EFFA;
  height: 3em;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  margin: 16px;
  border-radius: 16px;
}
.botonShowroom a {
  text-decoration: none;
  color: #252525;
  font-size: 20px;
}

.botonShowroom:hover {
  transition: 1s;
  background-color: #719BAD;
  box-shadow: 2px 2px 5px 0px rgb(150, 150, 150);
}

.guiatalles {
  display: flex;
  flex-direction: column;
  background-color: #FFF9F2;
  box-shadow: 0 0 1rem 0 rgba(10, 10, 10, 0.655);
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 5px;
  border-radius: 7px;
}
.guiatalles__table {
  border-color: #252525;
  border-width: 2px;
  text-align: start;
  font-size: xx-small;
  font-weight: 100;
}
.guiatalles__table td, .guiatalles__table th {
  border-color: #252525;
  border-width: 1px;
}

.pulmon {
  grid-column: 2/3;
  grid-row: 1/4;
}

@media screen and (min-width: 420px) {
  .superconteiner {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .conteiner {
    display: grid;
    grid-template-columns: 60% 5% auto;
    grid-template-rows: 1fr 1fr 1fr;
    height: 60vh;
    gap: 10px;
    margin: 10px;
  }
  .carouselboot__conteiner {
    grid-column: 1/3;
    grid-row: 1/4;
  }
  .conteiner__botones {
    grid-column: 3/4;
  }
  .guiatalles {
    grid-column: 3/4;
    grid-row: 1/3;
    font-size: 14px;
    font-weight: 600;
  }
}
@media screen and (min-width: 800px) {
  .conteiner {
    width: 65%;
  }
}

/*# sourceMappingURL=styles.css.map */
