.texto__RemeraNegra {
    display: flex;
    align-content: center;
    width: fit-content;
    padding: 8px;
    margin: 16px;
    height: 32px;
    background-color: $color-tarjetas;
    border-radius: 8px;
    & h2 {
    font-weight: 100;
    font-size:large;
    }
}

.conteiner {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 2fr 1fr 1fr;
    height: 70vh;
    gap: 10px;
    margin: 10px;
}

@include slider__conteiner;

.conteiner__botones {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 3/4;
    width: fit-content;
    justify-content: center;
}

@include botonshowroom;

.guiatalles{
    display: flex;
    flex-direction: column;
    background-color:$color-tarjetas;
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    border-radius: 7px;
}

.guiatalles__table{
    border-color:$color-font;
    border-width: 2px;
    text-align: start;
    font-size: xx-small;
    font-weight: 100;
}

.guiatalles__table td, th{
    border-color:$color-font;
    border-width: 1px;
}

.pulmon {
    grid-column: 1/3;
    grid-row: 2/3;
}


//For > 420px

@media screen and (min-width:420px) {
.superconteiner {
    display: flex;
    width: 100%;
    justify-content: center;
}

.conteiner {
    display: grid;
    grid-template-columns: 60% 5% auto;
    grid-template-rows: 1fr 1fr 1fr;
    height: 80vh;
    gap: 10px;
    margin: 10px;
    width: 100%;
}

@include slider__conteiner420;

.pulmon {
    grid-column: 2/3;
    grid-row: 1/4;
}

.guiatalles {
    grid-column: 3/4;
    grid-row: 1/3;
    font-size: 14px;
    font-weight: 600;
    }
}

.conteiner__botones {
    grid-column: 3/4;
    grid-row: 3/4;
    }


//For > 800px

@media screen and (min-width: 800px) {
.conteiner {
    width: 65%;
    }
}