.cover__conteiner {
  display: inline-block;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
  background: rgb(100,210,215);
  background: linear-gradient(0deg, rgba(100,210,215,1) 0%, rgba(113,155,173,1) 75%);
    &:hover{
      transition: 1s;
      box-shadow: $shadow;
    }
  }
.cover p{
  margin: 0 auto;
  color: rgb(22, 22, 22);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:medium;
}


@media screen and (min-width: 420px) {

.cover__conteiner {
  margin-top: 4px;
  }

.cover {
  height: 24vh;
  background-image: url("../assets/portada1.jpg");
  background-size: cover;
  background-position: center;
    &:hover {  
    box-shadow:$shadow;
    transition: 1s;
    }
  }
.cover p {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: black 0px 0px 5px;
  font-size: 30px;
  width: 75%;
  padding: 20px;
  }
}


@media screen and (min-width: 800px) {
.cover {
  justify-content: center;
  }
}