.header__list{
  width: 100%;
  display: flex;
  display: inline-flex;
  flex: 0;
  justify-content: space-evenly;  

    & li{
    padding-left: 4px;
    padding-right: 4px;
    list-style: none;
      &:hover{
      transition: 1s;
      background-color: $color-fondo;
      box-shadow: $shadow;
      border-radius: 4px;
    }
  }
}

.header__navbuttons a{
  text-decoration: none;
  color: rgb(22, 22, 22);
  font-weight: 400;
  font-size: 16px;
}

.header__navbuttons__con {
  display: none;
}


@media screen and (min-width: 420px) {

.header__nav {
  display: flex;
  justify-content: center;
}

.header__list{
  width: 80%;
  padding-left: 4px;
}

.header__navbuttons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  height: 32px;
  width: 16vw;
  min-width: fit-content;
  max-width: 160px;
  border-radius: 4px;
    &__con {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    height: 32px;
    width: 16vw;
    min-width: fit-content;
    max-width: 160px;
    border-radius: 4px;
      a{
      text-decoration: none;
      color:$color-font;
      font-weight: 400;
      font-size: 16px;
      }
    }
  }
}


@media screen and (min-width: 800px) {

.header__list{
  width: 60%;
  }
}